body {
    background-color: #e76f51;
    font-family: 'helvetica';

    }

h1 {
color: #e9c46a;
font-size: 36px;
text-align: center;
}

.row {
    color: #e9c46a;
    font-size: 18px;
    margin: 30px;
}

.fotos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #2a9d8f;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
    text-shadow: 2px 2px 2px #264653;
}

.container-nav {
    display: flex;
    padding: 8px;
    height: 80px;
    background-color: #264653;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.brand {
    display: flex;
    align-items: center;
}

li {
    list-style: none;
}

a {
    color: #e9c46a;
    text-decoration: none;
    font-weight: bold;
}

.nav-link {
    display: flex;
    align-items: center;
}

.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
    flex: 100%;
    } 
    .nav-links {
    display: none;
    } 
    .button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;font-size: 20px;
    } 
    .nav-links.nav-links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 100%;
    height: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap:70px;
    font-size: 40px;
    }
    }